<html>
  <head>
    <meta charset="utf-8">
    <title>CS-Food</title>
    <%= stylesheet_link_tag "home", media: "all" %>
  </head>
  <body>
    <div id="particles-js"></div>
    <h1 style="color:#ffffff;z-index: 1;padding: 70 px 0;text-align: center;">CS-Food</h1>
    <%= javascript_include_tag "home" %>
    <%= javascript_include_tag "particles" %>
  </body>
</html>
