<html>
  <head>
    <meta charset="utf-8">
    <title>CS-Food</title>
    <%= javascript_include_tag "particles" %>
    <%= stylesheet_link_tag "home", media: "all" %>
  </head>
  <body>
    <div id="particles-js"></div>
    <h1 id="page-title">CS-Food</h1>
    <%= javascript_include_tag "home" %>
  </body>
</html>
