<h1>Listing Orders</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.title %></td>
      <td><%= order.text %></td>
      <td><%= link_to 'Show', order_path(order) %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', home_index_path %>
