#particles-js {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #a3242a;
    z-index: -1;
}

#page-title {
    color: #ffffff;
    z-index: 1;
    padding: 70px;
    text-align: center;
}

#logout-div {
    position:absolute;;
    top:0;
    right:0;
    padding:20px;
}